* {
    padding: 0;
    margin-top: -2%;
    margin-right: -.5%;
    margin-left: -.5%;
  }
  .above {
    animation-duration: 10s;
    animation-name: above;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes above {
   from {left:5%; top:100%;}
  to {left:5%; top:20%;}
}